@media (max-width: 450px) {
    body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 0;
        width: 414px;
        height: 600px;
      }
    .video {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width: 100%;
        height: 126%;
        position: absolute;
      
        top: 0;
        z-index: -1;
        object-fit: cover;
        background-color: black;
        position: fixed;
      }
    
    .overlay {
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width: 125%;
        height:270.9%;
        background-color: rgb(0, 0, 0);
        opacity: 0.6;
        position: absolute;
      }
    .contenedor-imagen {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: 400ms;
      }
      .space {
        position: absolute;
        display: flex;
        width: 200px;
        height: 200px;
        left:70%;
        top: 40%;
        background-color: none;
        overflow: hidden;
        margin: 20px;
        cursor: pointer;
        transition: 10s;
        transition: 400ms;
        justify-content: center;
        align-items: center;
      }
    
      .space2 {
      
        width: 170px;
        height: 40px;
        margin: 2px;
        padding:2%;
        top: 80%;
        left: 5%;
        color: rgb(0, 0, 0);
        border-radius: 1.5%;
        
      }
    
      .space2:hover {
        background: linear-gradient(to left, rgb(216, 49, 53), rgb(154, 48, 49));
        border-radius: 1%;
        padding: 0%;
        border-radius: 5%;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 1.5%;
      }

      .accordion {
        position: relative;
        --circle-x: 1.8rem;
        --circle-y: 0;
        --circle-r: 200%;
        --circle-bg:black;
        color: rgb(246,217,174);;
    
        background-color: var(--circle-bg);
        max-width: 56ch;
        margin-bottom: 1rem;
        border-radius: min(8px, 0.5rem);
    
        display: grid;
        grid-template-rows: 0fr 0fr;
        transition-timing-function: var(--slide-ease);
        transition-duration: 200ms, 200ms, var(--slide-duration);
        transition-property: opacity, box-shadow, grid-template-rows;
        transition-delay: 0ms, 0ms, var(--slide-delay);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        opacity: 0.9;
        top:100px;
        left: -126px    ;
        width: 280px;
        
    
    }

    #p1 {
        display: flex;
        justify-content: flex-end;
        left:0px;
        position: relative;
        top:-35px;
        font-size:medium;
        text-align: center;
      }
      #p2 {
        display: flex;
        justify-content: flex-end;
        top: -25px;
        position: relative;
        left:35px;
        font-size:medium;
        text-align: center;
        width: 170px;
      }
      #p3 {
        display: flex;
        justify-content: flex-end;
        top: -25px;
        position: relative;
        left: 40px;
        font-size:medium;
        text-align: center;
        width: 160px;
      }
      #p4 {
        display: flex;
        justify-content: flex-end;
        top: -25px;
        position: relative;
        left: 21px;
        font-size:medium;
        text-align: center;
      }
      
      p{
        font-family: 'Franklin Gothic book','sin-serif';
        text-align: justify;
      }
      .bi-code-slash{
        width: 20px;
        height: 20px;
        left: 5px;
      }
      .bi-file-earmark-bar-graph{
        width: 20px;
        height: 20px;
        left: 5px;
        
      }
      .bi-stickies-fill{
        width: 20px;
        height: 20px;
        left: 5px;
      }
       .bi-person-rolodex{
        width: 20px;
        height: 20px;
        left: 5px;
       }
       .a{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        text-decoration: none;
        color: white;
        font-size: smaller;
       }
}

