
html {
  height: 10000px;
}
body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 0;
  width: 100%;
  height: 100%;
}
  @media (max-width: 1920px) {

.landinpage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  height: 0;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.5s;
}
.video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  height: 100vh;
  position: absolute;

  top: 0;
  z-index: -1;
  object-fit: cover;
  background-color: black;
  position: fixed;
}
.overlay {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  height: 135.5%;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  position: absolute;
}


.top-nav {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, rgb(0, 128, 78), rgb(248, 211, 118));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  height: 60px;
  width: 100%;
  padding: 1em;
  top: 0%;
  position: fixed;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 1;
  padding: 1em;
}

.liDes {
  position: relative;
 
  cursor: pointer;
  transition: 1s;
  color: white;
  padding: 1em;
  
  
}
.liDes:hover {
  font-family: Arial, Helvetica, sans-serif;

  opacity: 0.5;
  
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button {
  right: 10%;
  top: 50%;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.navbar-logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  width: 7px;
  justify-content: left;
}
.navbar-logo img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 80.5%;
  height: auto;
  justify-content: left;
  
  padding: 9%  ;
  
  
}

.body {
  position: absolute;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  top: 300%;
  left: 5%;
  padding: 30px;
  margin: 2em;
  grid-area: body;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;

  cursor: pointer;
  transition: 1s;
}

.title1 {
  position: relative;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  color: #000000;
  font-weight: bold;
  font-size: xx-large;
  right: -30px;
  width: 100%;
  padding: 1em;
  text-align: left;
  
}
.title2 {
  position: relative;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  color: #000000;
  font-size: medium;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

* {
  margin: 0px;
  padding: 0px;
}

.contenedor-imagen {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 400ms;
}

.contenedor-imagen > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Esto es opcional */
.contenedor-imagen:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}
.space {
  position: absolute;
  display: flex;
  width: 600px;
  height: 700px;
  left: 10%;
  top: 15%;
  
  overflow: hidden;
  margin: 20px;
  padding: 0%;
  justify-content: center;
  align-items: center;
}

.space2 {
  position: absolute;
  display: flex;
  width: 300px;
  height: 45px;
  
  overflow: hidden;
  margin: 100px;
  background-color: rgb(255, 213, 37);

  padding: 2%;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  top: 58%;
  left: 8%;
  color: rgb(0, 0, 0);
  text-align: justify;
  border-radius: 1%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 1s;
}
.space2:hover {
  background: linear-gradient(to left, rgb(216, 49, 53), rgb(154, 48, 49));
  border-radius: 1%;
  padding: 5%;
  border-radius: 5%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  color: white;
}


#p1 {
  display: flex;
  justify-content: flex-end;
  top: -46px;
  position: relative;
  left:-350px;
  font-size: x-large;
}
#p2 {
  display: flex;
  justify-content: flex-end;
  top: -30px;
  position: relative;
  left: -185px;
  font-size: x-large;
}
#p3 {
  display: flex;
  justify-content: flex-end;
  top: -30px;
  position: relative;
  left: -281px;
  font-size: x-large;
}
#p4 {
  display: flex;
  justify-content: flex-end;
  top: -30px;
  position: relative;
  left: -149px;
  font-size: x-large;
}

p{
  font-family: 'Franklin Gothic book','sin-serif';
}
.bi-code-slash{
  left: 150px;
}
.bi-file-earmark-bar-graph{
  left: 150px;
  
}
.bi-stickies-fill{
  left: 150px;
}
 .bi-person-rolodex{
  left: 150px;
 }
 .a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: white;
  font-size: smaller;
 }
}
@media (max-width: 1280px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  
  body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0;
    width: 100%;
    height: 800px;
  }
.video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    height: 129%;
    position: absolute;
  
    top: 0;
    z-index: -1;
    object-fit: cover;
    background-color: black;
    position: fixed;
  }

.overlay {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    height:180.9%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    position: absolute;
  }
.contenedor-imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 400ms;
  }
  .space {
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    left:0%;
    top: 40%;
    background-color: none;
    overflow: hidden;
    margin: 20px;
    cursor: pointer;
    transition: 10s;
    transition: 400ms;
    justify-content: center;
    align-items: center;
  }

  .space2 {
  
    width: 170px;
    height: 48px;
    margin: 2px;
    padding:2%;
    top:84%;
    left: 20%;
    color: rgb(0, 0, 0);
    border-radius: 1.5%;
    font-size: medium;
    
  }

  .space2:hover {
    background: linear-gradient(to left, rgb(216, 49, 53), rgb(154, 48, 49));
    border-radius: 1%;
    padding: 0%;
    border-radius: 5%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 1.5%;
  }

  .accordion {
    position: relative;
    --circle-x: 1.8rem;
    --circle-y: 0;
    --circle-r: 200%;
    --circle-bg:black;
    color: rgb(246,217,174);;

    background-color: var(--circle-bg);
    max-width: 56ch;
    margin-bottom: 1rem;
    border-radius: min(8px, 0.5rem);

    display: grid;
    grid-template-rows: 0fr 0fr;
    transition-timing-function: var(--slide-ease);
    transition-duration: 200ms, 200ms, var(--slide-duration);
    transition-property: opacity, box-shadow, grid-template-rows;
    transition-delay: 0ms, 0ms, var(--slide-delay);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    top:100px;
    left: -90px    ;
    

}

#p1 {
    display: flex;
    justify-content: flex-end;
    top: -35px;
    position: relative;
    left: -150px;
    font-size:medium;
    text-align: center;
  }
  #p2 {
    display: flex;
    justify-content: flex-end;
    top: -25px;
    position: relative;
    left: -37px;
    font-size:medium;
    text-align: center;
  }
  #p3 {
    display: flex;
    justify-content: flex-end;
    top: -19px;
    position: relative;
    left: -100px;
    font-size:medium;
    text-align: center;
  }
  #p4 {
    display: flex;
    justify-content: flex-end;
    top: -19px;
    position: relative;
    left: -10px;
    font-size:medium;
    text-align: center;
  }
  
  p{
    font-family: 'Franklin Gothic book','sin-serif';
    text-align: justify;
  }
  .bi-code-slash{
    width: 20px;
    height: 20px;
    left: 5px;
  }
  .bi-file-earmark-bar-graph{
    width: 20px;
    height: 20px;
    left: 5px;
    
  }
  .bi-stickies-fill{
    width: 20px;
    height: 20px;
    left: 5px;
  }
   .bi-person-rolodex{
    width: 20px;
    height: 20px;
    left: 5px;
   }
   .a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: smaller;
   }
}
